/** CSS Reset - Josh W Comeau **/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin & padding */
*:not(dialog) {
  margin: 0;
  padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  /* Make the body take up the full height of the viewport */
  min-height: 100vh;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* 10. Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

/* 11. Remove default list styles */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

ul {
  list-style-type: none;
}

/****************/

:root {
  /* Colors */
  --clr-red: #a10000;
  --clr-white: #ffffff;
  --clr-light-gray: #ebebeb;
  --clr-soft-pink: #dcacac;
  --clr-red-darker: #7a0000;

  /* Used colors */
  --clr-text-headings: var(--clr-red);
  --clr-bg: var(--clr-soft-pink);
  --clr-article-bg: var(--clr-white);
  --clr-infobox-bg: var(--clr-light-gray);
  --clr-border: var(--clr-red);
  --clr-link: var(--clr-red);
  --clr-bg-button: var(--clr-white);
  --clr-button-text: var(--clr-red);
  --clr-button-border: var(--clr-red-darker);

  /* Font */
  --ff-base: "Open Sans", sans-serif;

  /* Font weight */
  --fw-bold: 600;

  /* Font size */
  --fs-small: 0.825rem;
  --fs-medium: 1rem;
  --fs-large: 1.5rem;
  --fs-xlarge: 2rem;
  --fs-heading: 3rem;
  --fs-xl-heading: 4rem;

  /* Bullet size */
  --ff-bullet-size: 0.85rem;

  /* Border radius */
  --border-radius-sm: 0.4rem;
  --border-radius-md: 0.8rem;
}

/* Always leave room & display the scrollbar so content don't jump around */
html {
  scrollbar-gutter: stable;
  overflow-y: scroll;
}

/* Global styles */
.page,
.page__body {
  background-color: var(--clr-bg);
  margin: 0px;
  padding-top: 0px;
  font-family: var(--ff-base);
}

.page__heading {
  text-align: center;
  margin: 2rem 0;
  color: var(--clr-text-headings);
}

.section__heading {
  text-align: center;
  text-transform: uppercase;
  font-size: clamp(var(--fs-small), 4vw + 1rem, var(--fs-large));
  color: var(--clr-text-headings);
  margin: 1rem;
}

.section__text {
  text-align: center;
  text-wrap: pretty;
  font-size: var(--fs-medium);
  font-size: clamp(var(--fs-small), 2vw + 1rem, var(--fs-medium));
  margin: 0rem 2rem 2rem 2rem;
}

a:focus-visible {
  outline: 3px solid #420203;
  outline-offset: 4px;
  border-radius: 4px;
}

.navbar {
  background-color: var(--clr-white);
  border-bottom: 3px solid var(--clr-red);
  .navbar__list {
    display: flex;
    padding: clamp(0rem, 1vw, 1rem);
    align-items: center;
  }
  .navbar__item {
    margin-inline-start: clamp(0rem, 1vw, 1rem);
    &:not(.navbar__logo) {
      margin-inline-start: clamp(0.1rem, 3vw, 4rem);
    }
    white-space: nowrap;
  }
  .navbar__item:first-child {
    margin-inline-end: auto;
  }
  .navbar__item:last-child {
    margin-inline-start: auto;
  }
  .navbar__button {
    display: inline-block;
    background-color: var(--clr-bg-button);
    padding: clamp(0.5rem, 1vw + 1vw, 0.75rem) clamp(1rem, 3vw, 1.25rem);
    color: var(--clr-button-text);
    border-color: var(--clr-button-border);
    border-radius: 0.8rem;
    margin-top: -0.15rem;
    font-weight: var(--fw-bold);
    font-size: clamp(var(--fs-small), 2vw + 0.5rem, var(--fs-medium));
    border: 1px solid var(--clr-button-border);
    outline: none;
    cursor: pointer;
    box-shadow: 0px 0px 2px 1px rgba(109, 4, 4, 0.487);

    &:hover {
      background-color: var(--clr-red-darker);
      color: var(--clr-white);
      transition: all 0.2s ease-in;
      text-decoration: underline;
    }

    &:focus-visible {
      outline: 3px solid #420203;
      outline-offset: 4px;
      border-radius: 4px;
    }
  }

  .navbar__link:hover {
    background-color: var(--clr-soft-pink);
    color: var(--clr-red);
    transition: all 0.2s ease-in;
  }

  .navbar__link {
    &:not(.navbar__logo__link) {
      padding: 0.5rem 1rem;
      display: inline-block;
      min-height: 44px;
    }
    color: var(--clr-link);
    border-radius: 0.8rem;
    text-decoration: none;
    font-size: clamp(var(--fs-small), 2vw + 0.5rem, var(--fs-large));
  }

  .navbar__link--active {
    color: var(--clr-red);
    text-decoration: underline;
  }

  .navbar__item__logo {
    min-height: 50px;
    min-width: 50px;
    max-height: 80px;
    margin-bottom: 5px;
  }
  .navbar__logo__link {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 3px solid;
    border-radius: 0;
    border-color: transparent;
  }
  .navbar__logo__link.navbar__link--active {
    border-bottom: 3px solid;
    border-radius: 0;
    &:hover {
      background-color: transparent;
    }
  }
}

/* Main content wrapper */
.wrapper {
  width: 60%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}

.article__top-image {
  width: 100%;
  height: 600px;
  position: center;
  object-fit: cover;
}

.infobox {
  background-color: var(--clr-infobox-bg);
  padding: 0.8rem;
  margin: 1rem;
}

.article {
  background-color: var(--clr-article-bg);
  margin-bottom: 1rem;

  .article__heading,
  .article__subheading {
    margin: 1rem;
  }

  .article__heading {
    color: var(--clr-red);
  }

  /** Size of bullets **/
  .unordered-list .list-item::marker {
    font-size: var(--ff-bullet-size);
  }

  /** Adjust list indentation **/
  .unordered-list,
  .ordered-list {
    text-align: left;
    padding: 0px;
    margin-top: 1rem;
    margin-left: 1.5rem;
    list-style-type: disc;
  }

  .list-item {
    margin-top: 0.5rem;
  }

  /* List styling */
  .unordered-list {
    list-style-type: disc;
    .list-item {
      margin-left: 1em;
    }
  }

  .ordered-list {
    list-style-type: decimal;
    .list-item {
      margin-left: 1.25em;
    }
  }

  .article__text {
    margin-left: 1rem;
  }
}

.article__content {
  margin: 0rem 2rem 2rem 2rem;
}

.article__footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  width: 100%;
  padding: 0 1rem 0 1rem;

  .article__bottom-images {
    width: 100%;
    height: 600px;
    padding-bottom: 3rem;
    object-fit: cover;
  }
}

/** Responsive design **/
@media screen and (max-width: 800px) {
  .article__footer {
    grid-template-columns: 1fr;
  }
}

.gallery {
  width: 70%;
  min-width: 320px;

  margin: 2rem auto;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr));

  a {
    text-decoration: none;
    color: inherit;
  }

  .gallery__item {
    height: 100%;
    background-color: var(--clr-article-bg);
    display: grid;
    text-align: top;
    grid-template-rows: auto auto 1fr;
    gap: 0.5rem;
    border: 1px solid var(--clr-border);
    padding: 0.5rem;
    border-radius: var(--border-radius-md);

    h2 {
      color: var(--clr-red);
    }

    img {
      width: 100%;
      height: 300px;
      object-fit: cover;
      border-radius: var(--border-radius-sm);
    }
  }
}

.hero-image {
  background-position: center center;
  background-image: url("../images/hero_image.jpeg");

  min-height: 40vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;

  text-align: center;
  display: grid;
  grid-template-rows: 1fr;
  margin-bottom: 2rem;

  .hero__content {
    align-content: center;
    object-fit: cover;
    width: 100%;
    backdrop-filter: blur(4px);
    background-color: rgba(0, 0, 0, 0.3);
  }
  .hero__text {
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    color: var(--clr-white);
    font-size: clamp(var(--fs-small), 1.25vw + 1rem, var(--fs-xlarge));
    font-weight: var(--fw-bold);
    margin-top: 2rem;
    padding: 1rem;
  }
  .hero__heading {
    color: var(--clr-white);
    font-size: clamp(var(--fs-large), 3vw + 1rem, var(--fs-xl-heading));
    font-weight: var(--fw-bold);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }
  .hero__button {
    background-color: var(--clr-bg-button);
    border-color: var(--clr-button-border);
    color: var(--clr-button-text);
    padding: 0.75rem 1.25rem;
    outline: none;
    border: 1px solid var(--clr-button-border);
    border-radius: 0.8rem;
    box-shadow: 0px 0px 2px 1px rgba(109, 4, 4, 0.487);
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    font-weight: var(--fw-bold);
    font-size: clamp(var(--fs-small), 2vw + 0.5rem, var(--fs-medium));
    cursor: pointer;
    min-height: 44px;
    min-width: 44px;

    &:hover {
      background-color: var(--clr-red-darker);
      color: var(--clr-white);
      transition: all 0.2s ease-in;
      text-decoration: underline;
    }
  }
}

/**  This is not how you are supposed to do it, im pretty sure **/
@media screen and (min-width: 2000px) {
  .gallery {
    grid-template-columns: repeat(auto-fit, minmax(min(500px, 100%), 1fr));
  }
}

form {
  display: grid;
  gap: 1rem;

  @media (width > 720px) {
    grid-template-columns: 1fr 1fr;
  }
}

.form-group {
  display: grid;
  gap: 0.5rem;

  select {
    justify-self: start;
    margin-block-start: 0.45rem;
    height: fit-content;
    padding: 0.5rem;
    border-radius: var(--border-radius-sm);
  }
}

label {
  text-transform: uppercase;
}

fieldset {
  justify-self: start;
  padding: 0.5rem;
}

input {
  padding: 0.5rem;
  border: 1px solid var(--clr-border);
  border-radius: var(--border-radius-sm);
  accent-color: var(--clr-red);

  width: 100%;
}

.form-group__radio-field {
  display: inline-grid;
  align-items: center;
  grid-auto-flow: dense;
  padding: 0.15rem;

  label {
    padding-inline-start: 0.15rem;
    grid-column: 2;
  }
}

.form-group:has(.span-all) {
  grid-column: 1 / -1;
}

.skip {
  position: absolute;
  overflow: hidden;
  background: var(--clr-red-darker);
  padding: 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  left: 0.5rem;
  transform: translateY(-120%);
  transition: transform 0.3s ease-in;

  color: var(--clr-white);
}

.skip:focus {
  border-radius: 0 0 0.5rem 0.5rem;
  transform: translateY(0);

  color: var(--clr-white);
}

.contact-form {
  .contact-form__heading {
    margin-block-start: 0.25rem;
    margin-block-end: 1rem;
  }

  width: 70%;
  background-color: var(--clr-article-bg);
  padding: 2rem;
  border-radius: var(--border-radius-md);
  border: 1px solid var(--clr-border);
  margin: 2rem;
  margin-inline-start: auto;
  margin-inline-end: auto;
}

.contact-form__button {
  justify-self: start;
  display: inline-block;
  background-color: var(--clr-bg-button);
  padding: clamp(0.5rem, 1vw + 1vw, 0.75rem) clamp(1rem, 3vw, 1.25rem);
  color: var(--clr-button-text);
  border-color: var(--clr-button-border);
  border-radius: 0.8rem;
  margin-top: -0.15rem;
  font-weight: var(--fw-bold);
  font-size: clamp(var(--fs-small), 2vw + 0.5rem, var(--fs-medium));
  border: 1px solid var(--clr-button-border);
  outline: none;
  cursor: pointer;
  box-shadow: 0px 0px 2px 1px rgba(109, 4, 4, 0.487);

  &:hover {
    background-color: var(--clr-red-darker);
    color: var(--clr-white);
    transition: all 0.2s ease-in;
    text-decoration: underline;
  }
}
