/** CSS Reset - Josh W Comeau **/

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin & padding */
*:not(dialog) {
  margin: 0;
  padding: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
  /* Make the body take up the full height of the viewport */
  min-height: 100vh;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* 10. Create a root stacking context */
#root, #__next {
  isolation: isolate;
}

/****************/

:root{
    /* Colors */
    --clr-red: #A10000;
    --clr-white: #FFFFFF;
    --clr-light-gray: #EBEBEB;
    --clr-soft-pink: #DCACAC;

    /* Used colors */
    --clr-text-headings: var(--clr-red);
    --clr-bg: var(--clr-soft-pink);
    --clr-article-bg: var(--clr-white);
    --clr-infobox-bg: var(--clr-light-gray);

    /* Font */
    --ff-base: "Open Sans", sans-serif;

    --ff-bullet-size: 0.85rem;
}

body, html {
    background-color: var(--clr-bg);
    margin: 0px;
    padding-top: 0px;    
    font-family: var(--ff-base);
}

.wrapper{
    width: 60%;
    min-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.top-image img{
    width: 100%;
    height: 600px;
    position: center;
    object-fit: cover;
}

.infobox{
    background-color: var(--clr-infobox-bg);
    padding: 0.8rem;
    margin: 1rem;
}

.article {    
    background-color: var(--clr-article-bg);
    margin-bottom: 1rem;

    h1, h2 {
        margin: 1rem;
    }

    h1{
        color: var(--clr-red);
    }

    /** Size of bullets **/
    ul li::marker {
        font-size: var(--ff-bullet-size);
    }

    /** Adjust list indentation **/
    ul, ol {
        text-align: left;
        padding: 0px;
        margin-top: 1rem;
        margin-left: 1rem;
    }

    li {
        margin-top: 0.5rem;
        margin-left: 1.5rem;
    }

    p {
        margin-left: 1rem;
    }
}

.article-content{
    margin: 0rem 2rem 2rem 2rem;
}

.bottom-images{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    width: 100%;
    padding: 0 1rem 0 1rem;

    img{
        width: 100%;
        height: 600px;
        padding-bottom: 3rem;
        object-fit: cover;
    }
}

/** Responsive design **/
@media screen and (max-width: 800px) {
    .bottom-images{
        grid-template-columns: 1fr;
    }
}